body#homelist {

  #banner {
    @include grid-column(12);
  }

  #location-list {
    @include grid-column(8);
    @include grid-media($bp_mobile) {
      @include grid-column(12);
    }

    .location {
      background-color:$blue;
      @include card();

      h4 {
        margin:0 0 2px;
        font-size:18px;

        small {
          margin-left:10px;
        }
      }

      .address {
        margin-bottom:10px;
        font-style:italic;
        color:#ccc;
        text-transform:uppercase;
        font-size:12px;
      }

      .badge {
        border-radius:500px;
        background-color:$dark-red;
        color:$white;
        font-family:$lobster;
        font-size:15px;
        float:right;
        padding:3px 10px
      }
      .labels {
        position:absolute;
        bottom:15px;

        .label {
          margin:0 10px;
          color:$dark-blue;

          &:first-child {
            margin-left:0;
          }
        }
      }
    }
  }

  #sidebar {
    @include grid-column(4);

    @include grid-media($bp_mobile) {
      @include grid-column(12);
    }
  }
}