button {
  background-color:$blue;
  color:$white;
  font-family:$lobster;
  padding:15px;
  font-size:25px;
  border:solid 1px $dark-blue;
  cursor:pointer;
}

@mixin card-shadow() {
  box-shadow:2px 2px 9px -3px $black;
}

@mixin card() {
  @include card-shadow();
  margin:25px auto;
  padding:15px;
  min-height:150px;
}