extends layout

block content
  h1 About
  hr
  #about-content
    p Loc8r is a way to use other's information for your own gain, you selfish carp.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper vitae ligula in ornare. Vivamus eget nulla eu eros consequat malesuada eu non eros. Suspendisse congue, ex non commodo cursus, purus risus luctus augue, venenatis scelerisque odio sem sed quam. Nam id maximus dui, accumsan consectetur erat. Proin lobortis, ligula at scelerisque posuere, mauris mi venenatis magna, ac efficitur enim ipsum eget purus. Nulla facilisi. Nulla tempor eros quis odio tincidunt eleifend. Sed congue est in sagittis mattis. Sed sit amet ullamcorper eros, vel pellentesque nisl. Aliquam sed varius nisi. Etiam lorem ligula, ultricies feugiat neque eget, vulputate fermentum magna. Vivamus aliquam purus at egestas condimentum. Nullam non ligula sit amet augue mattis fringilla. Duis ut lacus ac leo vulputate tincidunt. Nulla facilisi.
    p Morbi tellus lectus, ultrices sed ex non, elementum maximus nisi. In feugiat magna vel ultricies faucibus. Donec sodales placerat dui at vulputate. Duis at nisl vel elit venenatis mattis. Nullam egestas tincidunt lacus, nec mattis dui lobortis at. Nam suscipit lectus neque, vel euismod mauris imperdiet et. Suspendisse in posuere massa. Etiam orci nisl, commodo in ornare a, bibendum in purus. Nulla facilisis, libero in eleifend sagittis, dolor arcu ullamcorper neque, eu imperdiet massa velit sit amet lacus.